$colors: (
     tamna: #3F3236,
     tamna-naslov:rgb(82, 64, 69),
     lj: #fd0054,
     tlj: #a80038,
     svjetla: #fbf9fa
); 

$dot: 120px;
$project-br: 10px;
$width-main: 60%;
$height-main: 95%;


@function color($color-name){
     @return map-get($colors, $color-name)
}

@mixin naslov{
     color: color(tamna-naslov);
     justify-self: center;
     text-transform: uppercase;
     font-size: 10em;
     margin: .5em;
}

*{
     margin: 0;
     padding: 0;
     font-family: "Roboto";
     text-decoration: none;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

body{
     background: color(tamna);
     mix-blend-mode: normal;
     margin-top:3vh;
}

header{

     position: fixed;
     top: 0;
     z-index: 1;

     width: 100%;
     height: 5em;
     background-color: color(tlj);

     #navbar{

     width: inherit;
     height: inherit;
     display: flex;
     justify-content: space-evenly;

          .logo-name{
               flex: 3;
               cursor: pointer;
               text-transform: uppercase;
               margin: auto;
               margin-left: 10%;
               text-align:left;
               .white{
                    color: color(svjetla);
               }
          }

          .nav__links{
               flex: 5;
               margin: auto;
               width: 100%;
               list-style: none;
               display: flex;
               justify-items: right;
               
               a{
                    flex: 1;
                    transition: all 0.3s ease 0s;
                    width: auto;
                    font-size: 1.6em;
                    font-weight: 500;
                    color: color(svjetla);
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    margin: auto;
               }

               a:hover{
                    color: color(tamna);
               }

               .arrow{
                    visibility: hidden;
               }
          }
     }
}

#welcome-section{

     background-image: url('https://hcu.org/Resources/1c2a1348-a85f-42eb-aca4-6ba9c2b9b4ef/onlinebanking.jpg');
     background-size: cover;
     background-color: color(tamna);
     background-blend-mode: multiply;
     height: 100vh;
     display: flex;

     .main-block{
          width: $width-main;
          height: $height-main;
          margin: auto;
          max-width: 80%;


          h1{
               font-size: 10em;
               color: color(svjetla);
               text-align: center;

               .bigB{
                    color: color(lj);
                    font-size: 2em;
                    text-transform: uppercase;
               }
               
               .sites{
                    color: color(lj);
                    text-align: right;
               }

               .that{
                    font-size: .5em;
                    text-align: center;
               }

               .outline{
                    color: color(svjetla);
                    font-size: 1.2em;
               }

               .dot{
                    width: $dot;
                    height: $dot;
                    border-radius: 50%;
                    background-color: color(lj);
                    display: inline-block;
               }
          }
          
          .hl{
               height: 5px;
               width: 100%;
               background-color: color(lj);
          }
     }
}

#ski, #pro, #con{
     height: 10vh;
}

#skills{
     position: relative;
     height: 70vh;

     .naslov{
          @include naslov;
     }

     .content{

          max-width: 80%;
          background: color(tamna);
          border-radius: $project-br;
          box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
          padding: 50px;
          position: relative;
          z-index: 0;
          display: flex;
          margin: auto;
          margin-top: -8%;

          .profile-link{
               flex: 1 0.5 10%;
               min-width: 200px;
               background-color: color(lj);
               margin: 1em;
               height: 14em;
               border-radius: $project-br;
               box-shadow: inset -6px -4px 20px color(tlj);

               & .icon{
                    text-align: center;
                    color: color(svjetla);
                    font-size: 8em;
               }

               h2{
                    color: color(svjetla);
                    text-align: center;
                    font-weight: 400;
                    font-size: xx-large;
                    font-family: "Montserrat";
               }     
          }
          margin-bottom: 10em;
     }
}

#projects{
     position: relative;
     height: 90vh;

     .naslov{
          @include naslov;
     }

     .project-list{
          
          max-width: 80%;
          background: color(tamna);
          border-radius: $project-br;
          box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
          padding: 50px;
          position: relative;
          z-index: 0;
          display: flex;
          margin: auto;
          margin-top: -8%;

          .project-tile{
               flex: 1 30%;
               max-width: 500px;
               height: auto;
               min-height: 20em;
               padding: 1% 1%;
               background-color: color(svjetla);
               border-radius: $project-br;
               text-align: center;
               display: flex;
               flex-flow: column;
               justify-items: space-evenly;
               margin: 1% 1%;
               
               img{
                    flex: 1 50%;
                    width: 90%;
                    border-radius: $project-br;
                    margin: auto;
               }

               .project-desc{
                    flex: 1 50%;
               }

               h2{
                    color: color(tlj);
                    text-transform: capitalize;
               }

               .project-text{
                    text-align: left;
               }

               .links{
                    display: flex;
                    justify-content: space-around;
                    margin-top: 1em;
                    text-decoration: none;

                    .link,
                    .link:active,
                    .link:visited,
                    .link:hover{
                         width: 8em;
                         height: 1.4em;
                         background-color: color(tlj);
                         border-radius: $project-br;
                         text-decoration: none;
                         color: inherit;
                         color: color(svjetla);
                         text-transform: uppercase;
                    }
               }
          }
     }

     .projects-text{
          font-size: 2em;
          font-weight: normal;
          margin-top: 1em;
          text-align: center;
          color: color(svjetla);

          a{
               color: color(lj);
          }
     }

}

#contact{

     height: 100vh;
     .naslov{
          @include naslov;  
     }

     .contact-content{

          max-width: 80%;
          background: color(tamna);
          border-radius: $project-br;
          box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
          padding: 50px;
          position: relative;
          z-index: 0;
          display: flex;
          margin: auto;
          margin-top: -8%;

          .profile-link{
               flex: 1 100%;
               min-width: 200px;
               background-color: color(lj);
               margin: 1em;
               height: 15em;
               border-radius: $project-br;
               box-shadow: inset -6px -4px 20px color(tlj);

               & .icon{
                    text-align: center;
                    color: color(svjetla);
                    font-size: 8em;
               }

               h2{
                    color: color(svjetla);
                    text-align: center;
                    font-weight: 400;
                    font-size: xx-large;
                    font-family: "Montserrat";
               }     
               
          }
     }

     .text-in{
          font-size: xx-large;
          color: color(svjetla);
          text-align: center;

          span{
               color: color(lj);
          }
     }
}

@media (max-width:500px){
     
     body{
          margin-top: 0%;
     }

     header{

          top: unset;
          bottom: 0;
          height: 3em;

          #navbar{
     
          width: inherit;
          height: inherit;
          display: flex;

               .logo-name{
                    display: none;
               }
     
               .nav__links{
                    margin: auto;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    
                    a,
                    a:active,
                    a:visited{
                         flex: 1 25%;
                         margin: auto;
                         transition: all 0.3s ease 0s;
                         width: auto;
                         font-size: 1em;
                         font-weight: 400;
                         color: color(svjetla);
                         text-decoration: none;
                         text-transform: uppercase;
                         text-align: center;
                    }

                    .arrow{
                         visibility: visible;
                    }

                    .home{
                         display: none;
                    }
               }
          }
     }        

     #welcome-section{

          height: 100vh;
          width: auto;
          display: flex;
     
          .main-block{
     
               h1{
                    font-size: 4em;
                    
                    .bigB{
                         margin-left: -0.2em;
                    }

                    .dot{
                         width: 16px;
                         height: 16px;
                         border-radius: 50%;
                    }
               }
          }
     }

     #skills{
          position: relative;

          .naslov{
               @include naslov;
               font-size: 3em;
          }
     
          .content{
               margin-top: -12%;
               display: flex;
               flex-wrap: wrap;
               justify-content: space-evenly;
     
               .profile-link{
                    flex: 1 30%;
                    min-width: 80px;
                    background-color: color(lj);
                    margin: .2em;
                    height: 6em;
                    border-radius: $project-br;
                    box-shadow: inset -3px -4px 5px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 3em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 300;
                         font-size: medium;
                         font-family: "Montserrat";
                    }     
               }
          }
     }

     #projects{

          position: relative;
          height: 180vh;
     
          .naslov{
               @include naslov;
               font-size: 3em;
          }
     
          .project-list{

               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 15px 10px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;

               height: auto;
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
     
               .project-tile{
                    width: 100%;
                    flex: 1 100%;
                    height: auto;
                    min-height: 20em;
                    background-color: color(svjetla);
                    border-radius: $project-br;
                    text-align: center;
                    display: flex;
                    flex-flow: column;
                    justify-items: space-evenly;
                    margin: auto;
                    margin-bottom: 1em;
                    
                    img{
                         flex: 1 50%;
                         width: 90%;
                         border-radius: $project-br;
                         margin: auto;
                         margin-top: 1em;
                    }
     
                    .project-desc{
                         flex: 1 50%;
                    }
     
                    h2{
                         color: color(tlj);
                         text-transform: capitalize;
                    }
     
                    .project-text{
                         text-align: left;
                         margin: 20px;
                    }
     
                    .links{
                         display: flex;
                         justify-content: space-around;
                         margin-top: 1em;
                         text-decoration: none;
     
                         .link,
                         .link:active,
                         .link:visited,
                         .link:hover{
                              width: 8em;
                              height: 1.4em;
                              background-color: color(tlj);
                              border-radius: $project-br;
                              text-decoration: none;
                              color: inherit;
                              color: color(svjetla);
                              text-transform: uppercase;
                              margin-bottom: 1em;
                         }
                    }
               }
          }
     
          .projects-text{
               font-size: 1.5em;
               font-weight: normal;
               margin-top: 1em;
               text-align: center;
               color: color(svjetla);
     
               a{
                    color: color(lj);
               }
          }

          margin-bottom: 10em;
     
     }

     #contact{

          .naslov{
               @include naslov; 
               font-size: 3em;
          }
     
          .contact-content{
     
               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 15px 10px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;

               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: space-evenly;
     
               .profile-link{
                    flex: 1 20%;
                    min-width: 80px;
                    background-color: color(lj);
                    margin: 0.5em;
                    height: 8em;
                    padding: 1em;
                    border-radius: $project-br;
                    box-shadow: inset -6px -4px 20px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 4em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 400;
                         font-size: 1em;
                         font-family: "Montserrat";
                    }     
                    
               }
               margin-bottom: 1vh;
          }
     
          .text-in{
               font-size: 1em;
               width: 90%;
               color: color(svjetla);
               text-align: center;
     
               span{
                    color: color(lj);
               }
          }
     }
}

@media (min-width:501px) and (max-width: 1024px){

     body{
          margin-top: 0%;
     }

     header{

          top: unset;
          bottom: 0;
     
          #navbar{
     
          width: inherit;
          height: inherit;
          display: flex;
          justify-content: space-between;

               .logo-name{

                    flex: 1;
                    font-size: 1.8em;
                    cursor: pointer;
                    text-transform: uppercase;
                    margin: auto;
                    margin-left: 5%;
                    margin-right: 5%;
                    text-align:left;
                    .white{
                         color: color(svjetla);
                    }
               }
     
               .nav__links{

                    flex: 4 40%;
                    margin: auto;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    
                    a,
                    a:active,
                    a:visited{
                         flex: 1 25%;
                         transition: all 0.3s ease 0s;
                         width: auto;
                         display: block;
                         font-size: 1.4em;
                         font-weight: 500;
                         color: color(svjetla);
                         text-decoration: none;
                         text-transform: uppercase;
                         text-align: center;
                         margin: auto;
                    }

                    .arrow{
                         visibility: visible;
                    }

                    .home{
                         display: none;
                    }
               }
          }
     }        

     #welcome-section{

          height: 100vh;
          width: auto;
          display: flex;
     
          .main-block{
     
               h1{
                    font-size: 8em;

                    .bigB{
                         margin-left: -0.15em;
                    }
               }
          }
     }

     #skills{
          position: relative;
          margin-bottom: 10vh;

          .naslov{
               @include naslov;
               font-size: 6em;
          }
     
          .content{

               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 50px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;

               display: flex;
               flex-wrap: wrap;
               justify-content: space-evenly;
     
               .profile-link{
                    flex: 1 20%;
                    background-color: color(lj);
                    min-width: 200px;
                    margin: 1em;
                    height: 10em;
                    border-radius: $project-br;
                    box-shadow: inset -12px -8px 40px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 5em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 400;
                         font-size: x-large;
                         font-family: "Montserrat";
                    }     
               }
               margin-bottom: 10em;
          }
     }

     #projects{

          position: relative;
          height: 220vh;
     
          .naslov{
               @include naslov;
               font-size: 6em;
          }
     
          .project-list{

               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 10px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;

               width: 100%;
               height: auto;
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
     
               .project-tile{
                    flex: 1 50%;
                    max-width: 800px;
                    min-width: 80%;
                    height: auto;
                    min-height: 20em;
                    padding: 1% 1%;
                    background-color: color(svjetla);
                    border-radius: $project-br;
                    text-align: center;
                    display: flex;
                    flex-flow: column;
                    justify-items: space-evenly;
                    margin: 1em auto;
                    
                    img{
                         flex: 1 50%;
                         width: 90%;
                         border-radius: $project-br;
                         margin: auto;
                         margin-top: 1em;
                    }
     
                    .project-desc{
                         flex: 1 50%;
                         margin-top: 1em;
                    }
     
                    h2{
                         color: color(tlj);
                         text-transform: capitalize;
                         font-size: 4em;
                    }
     
                    .project-text{
                         text-align: left;
                         margin: 20px;
                         font-size: 2em;
                    }
     
                    .links{
                         display: flex;
                         justify-content: space-around;
                         margin: 2em;
                         text-decoration: none;
     
                         .link,
                         .link:active,
                         .link:visited,
                         .link:hover{
                              width: 8em;
                              height: 1.4em;
                              font-size: xx-large;
                              background-color: color(tlj);
                              border-radius: $project-br;
                              text-decoration: none;
                              color: inherit;
                              color: color(svjetla);
                              text-transform: uppercase;
                         }
                    }
               }
          }
     
          .projects-text{
               font-size: 4em;
               font-weight: normal;
               margin-top: 1em;
               text-align: center;
               color: color(svjetla);
     
               a{
                    color: color(lj);
               }
          }

          margin-bottom: 10em;
     
     }

     #contact{

          .naslov{
               @include naslov; 
               font-size: 6em;
          }
     
          .contact-content{

               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 50px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;
     
               width: 90%;
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: space-evenly;
     
               .profile-link{
                    flex: 1 30%;
                    min-width: 200px;
                    background-color: color(lj);
                    margin: 0.5em;
                    height: 14em;
                    padding: 1em;
                    border-radius: $project-br;
                    box-shadow: inset -6px -4px 20px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 6em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 400;
                         font-size: 2em;
                         font-family: "Montserrat";
                    }     
                    
               }
               margin-bottom: 2vh;
          }
     
          .text-in{
               font-size: 2em;
               font-weight: normal;
               margin-bottom: 10vh;
               text-align: center;
               color: color(svjetla);
     
               span{
                    color: color(lj);
               }
          }
     }
}

@media (min-width:1025px) and (max-width: 1680px){

     header{

          position: fixed;
          top: 0;
          z-index: 1;
     
          width: 100%;
          height: 3em;
          background-color: color(tlj);
     
          #navbar{
     
          width: inherit;
          height: inherit;
          display: flex;
          justify-content: space-evenly;
     
               .logo-name{
                    flex: 3;
                    cursor: pointer;
                    text-transform: uppercase;
                    margin: auto;
                    margin-left: 10%;
                    text-align:left;
                    .white{
                         color: color(svjetla);
                    }
               }
     
               .nav__links{
                    flex: 5;
                    margin: auto;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-items: right;
                    
                    a{
                         flex: 1;
                         transition: all 0.3s ease 0s;
                         width: auto;
                         font-size: 1.2em;
                         font-weight: 500;
                         color: color(svjetla);
                         text-decoration: none;
                         text-transform: uppercase;
                         text-align: center;
                         margin: auto;
                    }
     
                    a:hover{
                         color: color(tamna);
                    }
     
                    .arrow{
                         visibility: hidden;
                    }
               }
          }
     }
     
     #welcome-section{
     
          background-image: url('https://hcu.org/Resources/1c2a1348-a85f-42eb-aca4-6ba9c2b9b4ef/onlinebanking.jpg');
          background-size: cover;
          background-color: color(tamna);
          background-blend-mode: multiply;
          height: 100vh;
          display: flex;
     
          .main-block{
               width: $width-main;
               height: $height-main;
               margin: auto;
               max-width: 80%;
     
     
               h1{
                    font-size: 6em;
                    color: color(svjetla);
                    text-align: center;
     
                    .bigB{
                         color: color(lj);
                         font-size: 2em;
                         text-transform: uppercase;
                    }
                    
                    .sites{
                         color: color(lj);
                         text-align: right;
                    }
     
                    .that{
                         font-size: .5em;
                         text-align: center;
                    }
     
                    .outline{
                         color: color(svjetla);
                         font-size: 1.2em;
                    }
     
                    .dot{
                         width: 50px;
                         height: 50px;
                         border-radius: 50%;
                         background-color: color(lj);
                         display: inline-block;
                    }
               }
               
               .hl{
                    height: 5px;
                    width: 100%;
                    background-color: color(lj);
               }
          }
     }
     
     #ski, #pro, #con{
          height: 10vh;
     }
     
     #skills{
          position: relative;
          height: 70vh;
     
          .naslov{
               @include naslov;
          }
     
          .content{
     
               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 50px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;
               justify-content: space-evenly;
     
               .profile-link{
                    flex: 2 0.5 40%;
                    flex-wrap: wrap;
                    min-width: 120px;
                    background-color: color(lj);
                    margin: 1em;
                    height: 10em;
                    border-radius: $project-br;
                    box-shadow: inset -6px -4px 20px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 5em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 400;
                         font-size: 1.2em;
                         font-family: "Montserrat";
                    }     
               }
               margin-bottom: 10em;
          }
     }
     
     #projects{
          position: relative;
          height: 100vh;
          margin-top: -14vh;
     
          .naslov{
               @include naslov;
          }
     
          .project-list{
               
               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 50px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;
     
               .project-tile{
                    flex: 1 30%;
                    max-width: 500px;
                    height: auto;
                    min-height: 20em;
                    padding: 1% 1%;
                    background-color: color(svjetla);
                    border-radius: $project-br;
                    text-align: center;
                    display: flex;
                    flex-flow: column;
                    justify-items: space-evenly;
                    margin: 1% 1%;
                    
                    img{
                         flex: 1 50%;
                         width: 90%;
                         border-radius: $project-br;
                         margin: auto;
                    }
     
                    .project-desc{
                         flex: 1 50%;
                    }
     
                    h2{
                         color: color(tlj);
                         text-transform: capitalize;
                    }
     
                    .project-text{
                         text-align: left;
                    }
     
                    .links{
                         display: flex;
                         justify-content: space-around;
                         margin-top: 1em;
                         text-decoration: none;
     
                         .link,
                         .link:active,
                         .link:visited,
                         .link:hover{
                              width: 8em;
                              height: 1.4em;
                              background-color: color(tlj);
                              border-radius: $project-br;
                              text-decoration: none;
                              color: inherit;
                              color: color(svjetla);
                              text-transform: uppercase;
                         }
                    }
               }
          }
     
          .projects-text{
               font-size: 2em;
               font-weight: normal;
               margin-top: 1em;
               text-align: center;
               color: color(svjetla);
     
               a{
                    color: color(lj);
               }
          }
     
     }
     
     #contact{
     
          height: 100vh;
          .naslov{
               @include naslov;  
          }
     
          .contact-content{
     
               max-width: 80%;
               background: color(tamna);
               border-radius: $project-br;
               box-shadow: 0 0 1.2rem rgba(0,0,0, .25);
               padding: 50px;
               position: relative;
               z-index: 0;
               display: flex;
               margin: auto;
               margin-top: -12%;
     
               .profile-link{
                    flex: 1 100%;
                    min-width: 120px;
                    background-color: color(lj);
                    margin: 1em;
                    height: 10em;
                    border-radius: $project-br;
                    box-shadow: inset -6px -4px 20px color(tlj);
     
                    & .icon{
                         text-align: center;
                         color: color(svjetla);
                         font-size: 5em;
                    }
     
                    h2{
                         color: color(svjetla);
                         text-align: center;
                         font-weight: 400;
                         font-size: 1.2em;
                         font-family: "Montserrat";
                    }     
                    
               }
          }
     
          .text-in{
               font-size: xx-large;
               color: color(svjetla);
               text-align: center;
     
               span{
                    color: color(lj);
               }
          }
     }
}
